{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <div id="title">
        <h1>Développeur d'application</h1>
        <div class="separation">
            <hr class="line">
            <img src="../public/img/icons/code.png" alt="" />
            <hr class="line">
        </div>
        <h2>Création de sites web <b>sur-mesure</b> & <b>adaptatif</b></h2>
    </div>

    <div class="index-main-container">
        <div class="banner">
            <img src="../public/img/banner/home.jpg" alt="" />
        </div>

        <section class="container-last-posts">
            <h2>Derniers articles</h2>
            <div class="last-posts">
                {% for post in twoLastPosts %}
                    <div class="post">
                        <h3 class="title">{{ post.title }}</h3>
                        <p class="date">Publié le {{ post.updateDate|date('d/m/Y') }}</p>
                        <p class="description">{{ post.summary }}</p>
                        <div class="link">
                            <a href="/post/{{ post.path }}"><img class="icon-view" src="../public/img/icons/view.png" alt="" /></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="posts-link">
                <a href="/posts?page=1">Articles</a>
            </div>
        </section>

        <hr class="line">

        <section class="about">
            <h2>A propos</h2>
            <div class="left-quote">
                <img src="../public/img/icons/left_quote.png" alt="">
            </div>
            <p>Diplomé en tant que Développeur Web Junior, je poursuis ma formation au près de l'école en ligne <a class="openclassrooms" href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony">OpenClassrooms</a> avec le parcours Développeur d'Application PHP.</p>
            <p>J'ai pu acquérir, par la réalisation de projets web, une expérience solide sur différents langages et technologies utilisées dans le milieu du développement. </p>
            <p>J'applique une grande attention sur le Responsive Design, l'accessibilité et le référencement naturel (SEO).</p>
            <p>Par une veille technologique quotidienne, je me tiens informé des nouveaux outils, des bonnes pratiques du web, afin d'étoffer mes connaissances et ainsi rester dans les tendances du moment.</p>
            <div class="right-quote">
                <img src="../public/img/icons/right_quote.png" alt="" />
            </div>
            <a class="download" href="../public/download/CV.pdf">Télécharger mon CV</a>
        </section>

        <hr class="line">

        <section class="container-tools-dev">
            <h2>Mes outils de développement</h2>
            <div class="tools-dev">
                <div class="first-tools">
                    <img src="../public/img/icons/html5.png" alt="HTML5" title="HTML5" />
                    <img src="../public/img/icons/css3.png" alt="CSS3" title="CSS3" />
                    <img src="../public/img/icons/sass.png" alt="SASS" title="SASS" />
                </div>
                <div class="second-tools">
                    <img src="../public/img/icons/jquery.png" alt="jQuery" title="jQuery" />
                    <img src="../public/img/icons/php.png" alt="PHP" title="PHP" />
                    <img src="../public/img/icons/mysql.png" alt="MySQL" title="MySQL" />
                </div>
            </div>
        </section>

        <hr class="line">

        <section class="container-tools-open-source">
            <h2>Mes outils open source</h2>
            <div class="tools-open-source">

                <div class="tools wordpress">
                    <img src="../public/img/icons/wordpress.png" alt="WordPress" title="WordPress" />
                    <div class="tools-container-content">
                        <p>Wordpress est un CMS, c'est à dire un gestionnaire de contenu.</p>
                        <p>Il facilite la création et l'administration de site web, en permettant à l'utilisateur d'être autonome sur la gestion de son contenu, via son interface, très simple d'utilisation.</p>
                    </div>
                </div>

                <div class="tools symfony">
                    <img src="../public/img/icons/symfony.png" alt="Symfony" title="Symfony" />
                    <div class="tools-container-content">
                        <p>Symfony est un framework PHP.</p>
                        <p>C'est une sorte de boîte à outils, qui propose des fonctionnalités pour faciliter, accélérer et même automatiser certaines partie du travail. Cela évite de réinventer la roue à chaque projet.</p>
                        <p>Ce type de solution est particulièrement adaptée pour les applications nécessitant d'importants développements.</p>
                    </div>
                </div>

                <div class="tools git">
                    <img src="../public/img/icons/git.png" alt="Git" title="Git" />
                    <div class="tools-container-content">
                        <p>Git est un système de contrôle de version décentralisé. </p>
                        <p>Il permet de hierarchisé le développement d'une application et rend possible la vérification du code au fur et à mesure de sa conception.</p>
                        <p>Il permet également de travailler à plusieurs sur un même projet.</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class="line">

        <section class="contact-container">
            <h2>Me contacter</h2>

            {% if message %}
                <div class="message-container" id="anchor">
                    {% if message starts with 'Erreur:' %}
                        <div class="error">
                            <p class="message">{{ message }}</p>
                        </div>
                    {% else %}
                        <div class="confirm">
                            <p class="message">{{ message }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="form-container" {% if anchor %} id="anchor-error-form" {% endif %}>
                <form method="post" action="/send">

                    {% if messageLastName starts with 'L' %}
                        <div class="error-container">
                            <div class="error">
                                <img src="../public/img/icons/prohibited.png" alt="" />
                                <p class="message">{{ messageLastName }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="input-container">
                        <input id="lastName" type="text" name="lastName" required="required" />
                        <span class="border"></span>
                        <label for="lastName">Nom</label>
                    </div>

                    {% if messageFirstName starts with 'L' %}
                        <div class="error-container">
                            <div class="error">
                                <img src="../public/img/icons/prohibited.png" alt="" />
                                <p class="message">{{ messageFirstName }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="input-container">
                        <input id="firstName" type="text" name="firstName" required="required" />
                        <span class="border"></span>
                        <label for="firstName">Prénom</label>
                    </div>

                    {% if messageEmail starts with 'L' %}
                        <div class="error-container">
                            <div class="error">
                                <img src="../public/img/icons/prohibited.png" alt="" />
                                <p class="message">{{ messageEmail }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% if messageSingleEmail starts with 'C' %}
                        <div class="error-container">
                            <div class="error">
                                <img src="../public/img/icons/prohibited.png" alt="" />
                                <p class="message">{{ messageSingleEmail }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="input-container">
                        <input id="email" type="text" name="email" required="required" />
                        <span class="border"></span>
                        <label for="email">Mail</label>
                    </div>

                    <div class="input-container">
                        <input id="subject" type="text" name="subject" required="required" />
                        <span class="border"></span>
                        <label for="subject">Objet</label>
                    </div>

                    <div class="textarea-container">
                        <textarea id="message" name="message" required="required"></textarea>
                        <span class="border"></span>
                        <label for="message">Contenu</label>
                    </div>

                    <div class="submit-container">
                        <input class="submit" type="submit" value="Envoyer" />
                    </div>
                </form>
            </div>
        </section>
    </div>

{% endblock %}