{% extends "base.html.twig" %}

{% block title %}Articles{% endblock %}


{% block body %}
    <div class="posts-main-container">
        <h2>Articles</h2>

        {% if message %}
            <div class="message-container">
                <div class="error" id="anchor-error">
                    <p class="message">{{ message }}</p>
                </div>
            </div>
        {% endif %}

        {% if posts is empty %}
            <div class="posts-empty">
                <p>Aucun article pour l'instant.</p>
            </div>
        {% else %}

            {% for post in posts %}
                <div class="post-container">
                    <h3>{{ post.title }}</h3>
                    <p class="date">Mis à jour le {{ post.updateDate|date('d/m/Y') }}</p>
                    <text class="summary">{{ post.summary }}</text>
                    <div class="post-link">
                        <a href="/post/{{ post.path }}">Lire l'article</a>
                    </div>
                </div>
            {% endfor %}

            <div class="paging-container">
                <ul class="paging">
                    {% if page > 1 %}
                        <div class="prev">
                            <li>
                                <a href="/posts?page=1">
                                    <<
                                </a>
                            </li>
                            <li>
                                <a href="/posts?page={{ page-1 }}">
                                    <
                                </a>
                            </li>
                        </div>
                    {% endif %}

                    <div class="numbers">
                        {# Affichage de toutes les pages entre p-2 et p+2 sauf si < 1 ou > nbPages #}
                        {% for p in range(max(page-2, 1), min(page+2, nbPages)) %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="/posts?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </div>

                    {% if page < nbPages %}
                        <div class="next">
                            <li>
                                <a href="/posts?page={{ page+1 }}">
                                    >
                                </a>
                            </li>
                            <li>
                                <a href="/posts?page={{ nbPages }}">
                                    >>
                                </a>
                            </li>
                        </div>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}