{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}


{% block body %}
    <div class="registration-main-container">
        <h2>Inscription</h2>

        <div class="post-comment">
            <p>Vous souhaitez me laisser votre avis ?</p>
            <p>N'hésitez pas à vous inscrire afin de pouvoir poster votre commentaire.</p>
            <p>Déjà inscrit ! <a href="/login">Identifiez-vous</a>.</p>
        </div>

        <div class="form-container">
            <form method="post" action="/registration">

                {% if messageLastName starts with 'L' %}
                    <div class="error-container">
                        <div class="error">
                            <img src="../public/img/icons/prohibited.png" alt="" />
                            <p class="message">{{ messageLastName }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="input-container">
                    <input id="lastName" type="text" name="lastName" required="required" />
                    <span class="border"></span>
                    <label for="lastName">Nom</label>
                </div>

                {% if messageFirstName starts with 'L' %}
                    <div class="error-container">
                        <div class="error">
                            <img src="../public/img/icons/prohibited.png" alt="" />
                            <p class="message">{{ messageFirstName }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="input-container">
                    <input id="firstName" type="text" name="firstName" required="required" />
                    <span class="border"></span>
                    <label for="firstName">Prénom</label>
                </div>

                {% if messageEmail starts with 'L' %}
                    <div class="error-container">
                        <div class="error">
                            <img src="../public/img/icons/prohibited.png" alt="" />
                            <p class="message">{{ messageEmail }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if messageSingleEmail starts with 'C' %}
                    <div class="error-container">
                        <div class="error">
                            <img src="../public/img/icons/prohibited.png" alt="" />
                            <p class="message">{{ messageSingleEmail }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="input-container">
                    <input id="email" type="text" name="email" required="required" />
                    <span class="border"></span>
                    <label for="email">Mail</label>
                </div>

                {% if messageUsername starts with 'L' %}
                    <div class="error-container">
                        <div class="error">
                            <img src="../public/img/icons/prohibited.png" alt="" />
                            <p class="message">{{ messageUsername }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if messageSingleUsername starts with 'C' %}
                    <div class="error-container">
                        <div class="error">
                            <img src="../public/img/icons/prohibited.png" alt="" />
                            <p class="message">{{ messageSingleUsername }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="input-container">
                    <input id="username" type="text" name="username" required="required" />
                    <span class="border"></span>
                    <label for="username">Pseudo</label>
                </div>

                {% if messagePassword starts with 'L' %}
                    <div class="error-container">
                        <div class="error">
                            <img src="../public/img/icons/prohibited.png" alt="" />
                            <p class="message">{{ messagePassword }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="input-container checkPassword">
                    <input id="password" type="password" name="password" required="required" />
                    <span class="border"></span>
                    <label for="password">Mot de passe</label>
                </div>
                <div class="input-container checkPassword">
                    <input id="confirm" type="password" name="confirm" required="required" />
                    <span class="border"></span>
                    <label for="confirm">Confirmer mot de passe</label>
                </div>

                <div class="submit-container">
                    <input class="submit" type="submit" value="S'inscrire" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}